@import "../scss-utilts/variable";
@import "../scss-utilts/mixins";

.page-section {
	padding-bottom: 13.5rem;
	.page-section__content {
		.page-section__left {
			h1 {
				@include titleStyle;
				max-width: 60rem;
			}
			.page-section-left__bottom {
				margin-top: 5rem;
				.page-section_txt {
					display: flex;
					.underline {
						@include hyphenStyle;
					}
					p {
						@include secSubtitleStyle;
						max-width: 50rem;
						margin-bottom: 7.8rem;
					}
				}
				form {
					gap: 1.6rem;
					@include flex-row-center;
					input {
						width: 28rem;
						border-bottom: $clr-neutral-40 0.1rem solid;
						color: $clr-neutral-100;
						font-size: $font-size-ss;
						line-height: 2.4rem;
						padding-bottom: 2.3rem;
						&::placeholder {
							color: $clr-neutral-60;
							font-size: $font-size-ss;
							line-height: 2.4rem;
						}
					}
					a {
						@include btnStyle(dark);
						@include btnHvrStyle(dark);
						gap: 0.8rem;
					}
				}
			}
		}
		// .page-section__right{}
	}
}

// .page-secton {
// 	margin: 11.2rem 0;
// 	@include flex-row;
// 	.page-secton__left {
// 		max-width: 72rem;
// 		width: 100%;
// 		h2 {
// 			@include secTitleStyle;
// 		}
// 		.page-secton_txt{
// 			display: flex;
// 			.underline{@include hyphenStyle;}
// 			p {
// 				max-width: 543px;
// 				width: 100%;
// 				font-size: $font-size-l;
// 				font-weight: 600;
// 				line-height: 34px;
// 			}
// 		}
// 	}
// 	.section-txt__right{
// 		a{@include btnStyle(dark); @include btnHvrStyle(dark);}
// 	}
// }